.bodyfunction {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    height: auto;
    left: 0px;
    padding: 10px 0px;
    margin-top: -8rem;
    padding: 4.5% 0;
    /* top: 1644px; */

    /* colors/primary/blue */

    background: rgba(20, 110, 180, 0.05);
}

.bodyfunction_element {
    text-align: center;
    position: relative;
    padding: 10px;
}

.bodyfunction_element_head {
    /* Heading/H5|Medium */
    font-family: 'Galano Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    /* identical to box height, or 140% */
    text-align: center;

    /* colors/black/12 */
    color: #1A181E;
}

.bodyfunction_element_text {
    width: 352px;
    height: 72px;
    font-family: 'Galano Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

/* colors/black/30 */
    color: #4D4D4D;
}

@media only screen and (max-width: 320px) {
    .bodyfunction_element_text {
        width: 300px;
    }
}